body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  min-width: 120rem !important;
}

.clues {
  display: flex;
  justify-content: space-around;
}

.clues .direction {
  padding: 0 10px;
}

.header {
  color: white;
  font-weight: bolder;
}

.clue {
  color: #282c34;
  /* color: orange; */
  font-size: 50px;
  font-weight: bold;
}

.clue.correct {
  background-color: green;
  color: white;
}